@model IEnumerable<TechnicalTest.Domain.DTOs.CandidateDto>

<h1>Candidates</h1>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm mb-3">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Birthdate</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Birthdate.ToShortDateString()</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCandidate" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCandidate" class="btn btn-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCandidate" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        @if (!Model.Any())
        {
            <tr>No Candidates found</tr>
        }
    </tbody>
</table>
